---
import { Client } from "@notionhq/client";
import * as dotenv from "dotenv"; // see https://github.com/motdotla/dotenv#how-do-i-use-dotenv-with-import
import { getSlug } from "../helper/getSlug";
import tagColors from "../helper/tagColors";
dotenv.config();

const slug = Astro.params.slug;

const notion = new Client({ auth: process.env.NOTION_KEY });

const database_id = process.env.NOTION_DATABASE_ID;

const pages = (await notion.databases.query({ database_id })).results.sort(
  (a, b) => getSlug(a).localeCompare(getSlug(b))
);
---

<meta charset="utf-8" />
<div class="container mx-auto flex py-16 gap-8">
  <div class="w-4/5 flex flex-col gap-8">
    <div>
      <h1 class="text-4xl font-bold mb-2">dogwhistles.info</h1>
      <p class="mb-2">
        Dogwhistles sind symbolische Sprachsignale oder Codewörter, die von
        Redner*innen verwendet werden, um eine verborgene Botschaft an bestimmte
        Zielgruppen zu senden, während sie nach außen hin unschuldig oder
        harmlos wirken. Sie dienen dazu, rassistische, rechtsextreme oder
        problematische Ideologien subtil zu vermitteln, ohne offen dafür
        einzustehen. Dogwhistles ermöglichen es den Redner*innen, eine breitere
        Akzeptanz zu erlangen und gleichzeitig Anhänger*innen anzuziehen, die
        die verschlüsselten Botschaften erkennen und teilen. Diese Codewörter
        werden oft in problematischen und rechten Communities eingesetzt, um die
        eigene Ideologie zu verbreiten und gleichzeitig den Anschein von
        Neutralität oder Unschuld zu wahren. Sie dienen dazu, bestimmte
        Vorurteile zu bedienen und gleichzeitig den Vorwurf der Diskriminierung
        oder des Extremismus zu vermeiden.
      </p>
      <div class="bg-orange-200 text-orange-700 px-3 py-2 rounded-lg">
        <p class="font-bold">Achtung!</p>
        Nicht bei jeder Verwendung der Elemente aus dieser Sammlung ist davon auszugehen,
        dass es sich um eine Dogwhistle handelt. Es ist stets der Kontext relevant,
        um zu verstehen, wie Symbole verwendet werden.
      </div>
    </div>
    {
      pages.map((result) => (
        <div>
          <h2 class="text-2xl font-bold mb-2">
            <a href={`/content/${getSlug(result)}`} class="hover:underline">
              {result.properties.Name.title[0].text.content}
            </a>
          </h2>
          <div class="flex flex-wrap gap-2">
            {result.properties.Tags.multi_select.map((tag) => (
              <div
                class={`text-white rounded-full px-3 ${
                  tagColors[tag.name] || "bg-slate-800"
                }`}
              >
                {tag.name}
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <div class="w-1/5 text-right flex flex-col gap-8">
    <h2 class="text-2xl font-bold">
      Unterstütze antifaschistische Organisationen!
    </h2>
  </div>
</div>

